<%- include("template/cabecera")  %> 
<%- include("template/nav")  %> 

<div class="container">

  <h1><%= title %></h1>
  <p>
    hola  
    <%= title %>
    <%= descripcion  %> 
  </p>

</div>


<%- include("template/pie")  %> 