<%- include("template/cabecera")  %> 
<%- include("template/nav")  %> 

<div class="container">
 <div class="row">

    <form class="col-4">
        <input type="email" placeholder="Correo" class="form-control mb-3" id="email" aria-describedby="emailHelp">
        <input type="text" placeholder="Nombre"  class="form-control mb-3" id="nombre">
        <textarea type="password" placeholder="Ingrea tu Actividad" class="form-control mb-3" id="actividad" rows="5"></textarea>
        <select class="form-control mb-3" id="prioridad">
          <option value="3">Prioridad Alta</option>
          <option value="2">Prioridad Madia</option>
          <option value="1">Prioridad Baja</option>
        </select>
        <button type="submit" class="btn btn-primary mb-3">Agregar</button>
    </form>
    <div class="col-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col">Proridad</th>
            <th scope="col">Actividad</th>
            <th scope="col">Estado</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <% actividades.forEach(element => { %>
            <tr>
              <td><%= element.id %></td>
              <td><%= element.nombre %></td>
              <td><%= element.correo %></td>
              <td><%= element.prioridad %></td>
              <td><%= element.act %></td>
              <td><%= element.estado %></td>
              <td><a><i class="bi bi-pencil"></i></a></td>
              <td><a><i class="bi bi-trash3"></i></a></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

</div>
</div>

<%- include("template/pie")  %> 
